@use "variables" as *;

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  font-size: 16px;
  color: $color-text;
  line-height: 1.5;
}

body {
  background: $color-bg;
}

a {
  color: $color-primary;
  text-decoration: none;
}
